@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply transition-colors ease-in duration-150 dark:bg-gray-900 overflow-x-hidden;
  font-family: "Rubik", sans-serif !important;
}

body.menu--open {
  @apply fixed w-full h-full overflow-y-hidden;
}

/* 
a {
  @apply text-orange;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  @apply dark:text-gray-200;
}

.html {
  @apply dark:text-gray-200;
}

.html a {
  @apply text-orange underline hover:no-underline font-semibold;
}

.html h1 a,
.html h2 a,
.html h3 a,
.html h4 a,
.html h5 a,
.html h6 a {
  @apply dark:text-gray-200;
}

.html h1[id]:before,
.html h2[id]:before,
.html h3[id]:before,
.html h4[id]:before,
.html h5[id]:before,
.html h6[id]:before {
  content: "#";
  font-size: 20px;
  text-decoration: none;
  margin-right: 6px;
  border: none;
}

.html ul {
  @apply m-8 list-outside list-disc;
}

.html ul li {
  @apply text-lg;
}

.html ul li + li {
  @apply mt-4;
}

.blog-container {
  max-width: 720px;
  @apply mx-auto p-4;
}

.html h1 {
  @apply text-3xl font-bold mb-2;
}

.html h2 {
  @apply text-2xl font-bold mb-2;
}

.html h3 {
  @apply text-xl font-bold mb-2;
}

.html p {
  @apply mb-5 text-lg leading-8;
}

.html code {
  background-color: #011627;
  @apply rounded p-1 text-gray-200;
}

.html img {
  @apply my-6;
}

.html .remark-highlight {
  @apply my-6;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #011627 !important;
  @apply rounded;
  margin-bottom: 1.8rem !important;
}

@media screen and (min-width: 640px) {
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    margin: 0.5em -2.5rem 1.8rem !important;
  }
}

.bio p {
  margin-bottom: 0;
}

html.dark-mode .dark-mode-toggle > button {
  color: #999;
}

html.dark-mode .dark-mode-toggle > button:last-child {
  color: lightblue;
} */

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.menu-link:after {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  height: 3px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.menu-link:hover:after {
  width: 100%;
  background: #000;
  opacity: 1;
  transition: all 0.2s ease-in;

  @apply dark:bg-white;
}

@media screen and (max-width: 767px) {
  .menu-link:after {
    display: none;
  }
}

.about-presentation h1 {
  @apply text-5xl text-center font-light mb-4;
}

.about-presentation h2 {
  @apply text-3xl text-center font-light mt-8 mb-4;
}

.about-presentation h3 {
  @apply text-2xl text-center font-light mt-8 mb-4;
}

.about-presentation p {
  @apply text-lg tracking-wide mb-4;
}

.blog-item::after {
  content: "";
  @apply opacity-0 top-0 z-[-1] w-full h-full scale-95 absolute block border-4 border-purple-300 rounded-xl transition-all ease-in-out duration-200;
}

.blog-item:hover:after,
.blog-item:active:after,
.blog-item:focus:after {
  @apply opacity-100   scale-y-[1.06] md:scale-y-[1.04] scale-x-[1.05];
}

.blog-featured-article:after {
  content: "";
  @apply left-0 opacity-0 z-[-1] w-full h-full scale-95 absolute block border-4 border-purple-300 rounded-xl transition-all ease-in-out duration-200;
}
.blog-featured-article:hover:after,
.blog-featured-article:active:after,
.blog-featured-article:focus:after {
  @apply opacity-100 scale-y-[1.06] scale-x-[1.02];
}

@media screen and (max-width: 640px) {
  .blog-item {
    @apply !bg-gray-100 dark:!bg-gray-800 !bg-none;
  }
}
